@using KmcAiBlazorApp.Models
@rendermode InteractiveServer

<div class="uploaded-files-section">
    <h3>Uploaded Files (@Files.Count)</h3>
    
    @if (Files.Any())
    {
        <div class="files-list">
            @foreach (var file in Files)
            {
                <div class="file-item">
                    <div class="file-icon">@GetFileIcon(file.ContentType)</div>
                    <div class="file-info">
                        <div class="file-name">@file.Name</div>
                        <div class="file-details">
                            <span class="file-type">@GetFileType(file.ContentType)</span>
                            <span class="file-size">@FormatFileSize(file.Size)</span>
                        </div>
                    </div>
                    <button class="remove-btn" @onclick="()=>RemoveFile(file)" title="Remove file">×</button>
                </div>
            }
        </div>
    }
    else
    {
        <div class="no-files-message">
            <p>No files uploaded yet. Select files using the upload area above.</p>
        </div>
    }
</div>
